@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

:root {
	--section-background: #ffffff;
	--font-color: #000;
	/* fonts sizes */
	--font-size: large;
}

* {
	font-family: Poppins, sans-serif;
	color: var(--font-color);
	margin: 0;
	padding: 0;
	/* font-size: var(--font-size); */
}

header {
	background-color: var(--section-background);
}
.menu{
	padding: 0 10%;
}
.menu__list {
	display: flex;
	justify-content: space-between;
}

.menu__item {
	font-size: 20px;
	font-weight: 900;
	margin-top: 50px;
}

.header img {
	width: 300px;
	
}

a:hover{
	text-decoration: underline;
}


a {
	text-decoration: none;
}

main main part{
	
}


.main_part{
	background-color: #F9F8F5;
	padding: 0 30% 0 10%;

}
.main_part h1, h2{
	margin: 20px 0;
}

.main_part img{
	margin: 40px 0;
}

.cards{
	padding: 0 30% 0 10%;

}
.container{
	display: flex;
	justify-content: space-between;
	padding: 0 30% 0 10%;
	
}
.container_second{
	display: flex;
	justify-content: space-between;
}



.column{
	display: block;
	
}

.column img{
	width: 300px;
}



li{
	list-style: none;
}



/*.header__content::before{
	content: "";
	width: 100px;
	border: 1px solid black;
}*/

.endNav{
	display: flex;
	justify-content: space-between;
}

.downButton, .downButton div{
	display: flex;
	align-items: center;
	flex-direction: column;


}

.downButton img{
	display: block;
	width:  36px;
}
